<!DOCTYPE html>
<html>

<head>
  <title>Website</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- header -->
  <div id="home" class="header">
    <!-- container -->
    <div class="container">
      <div class="header-top">
        <div class="header-logo">
          <h1><%= link_to 'FitActivity', root_path %></h1>
        </div>
        <div class="top-nav">
          <span class="menu"><%= image_tag("menu.png") %></span>
          <ul class="nav1">
            <li><%= link_to 'Home', root_path %>
            </li>
            <li><%= link_to 'Trainings', trainings_path, class: "scroll" %>
            </li>
          <%= render 'devise/menu/login_items' %>
          <%= render 'devise/menu/registration_items' %>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!-- container -->




  <% if flash[:notice] %>
   <p class="notice">    <%=notice %>  </p>
  <% end %>

<% if flash[:alert] %>
  <p class="alert">    <%=alert %>  </p>
<% end %>

<!-- dynamic data -->
  <%= yield %>
<!-- end of dynamic data -->

  <!-- icons -->
  <div class="footer">
    <div class="icons">
      <!-- container -->
      <div class="container">
        <ul class="wow bounceIn" data-wow-delay="0.4s">
          <li>
            <span class="light"> </span>
          </li>
          <li>
            <span class="glob"> </span>
          </li>
          <li>
            <span class="camra"> </span>
          </li>
          <li>
            <span class="setting"> </span>
          </li>
          <li>
            <span class="mike"> </span>
          </li>
          <li>
            <span class="money"> </span>
          </li>
        </ul>
      </div>
      <!-- container -->
    </div>
    <!-- icons -->
</div>
</body>

</html>
